p, a, div {
  font-size: 13px;
  font-family: Arial, sans-serif;
}

ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.list-element{
  display : inline;
  padding: 0px 0px 0px 15px;
  line-height: 28px;
}

.uppernavbar{
  float : right;
  padding-right: 30px;
}

.footer-wrapper{
  bottom: 0px;
  position: fixed;
  width: 100%;
  line-height: 40px;
  background: #f2f2f2;
  color: rgba(0,0,0,0.54);
}

.button{
  padding: 0 16px;
  background-color: rgb(242,242,242);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(242,242,242);
  margin: 11px 6px;
  height: 36px;
  color: rgb(95, 99, 104);
  font-size: 14px;
}

input[type="text"]{
  
}

#sign-in-button{
  margin: 0;
  background-color: rgb(66, 133, 244);
  border-color: rgb(66, 133, 244);
  color: white;
  font-weight: 700;
}

#logo{
  padding-top: 109px;
}

#left-options{
  float:left;
}

#right-options{
  float:right;
}

#more-button{
   background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
   height: 30px;
   width: 30px;
   background-position: -132px -38px;
   display : inline-block;
   vertical-align: middle;
   color : rgba(34, 34, 34);
}
