p, a, div {
  font-size: 13px;
  font-family: Arial, sans-serif;
}

#more-button{
   background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
   height: 30px;
   width: 30px;
   background-position: -132px -38px;
}
